:root { 
    --iris: #4D5AE5;
    --white:#FFFFFF;
    --navy:#2E2F42;
    --slate:#434455;
    --cloud:#F4F4FD;
    --ocean: #404BBF;
}

.logo {
    text-decoration: none;
    font-family: Raleway;
    font-weight: 800;
}

.logo-web {
    color: var(--iris);
}
.logo-studio {
    color:var(--navy);
}

header ul li .main-header-menu {
    color: var(--navy)
}

.list {
    list-style: none;
    padding-left: 0;
}

header ul li a {
    text-decoration: none;
    list-style: none;
    padding-left: 0;
}

/*Body Styling*/
body {
    font-family: "Roboto", sans-serif;
}

.nav-link {
    color: var(--navy);
    font-weight: 500;
    line-height: 1.5;/* 150% */
    letter-spacing: 0.32px;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--ocean);
}

.active {
    color: var(--ocean);
}

.logo-line-contacts {
    color: var(--slate);
    line-height: 1.5;
    letter-spacing: 0.32px;

}
/*End of Body Styling*/

/*Hero Styling*/

.hero-button {
    background: var(--ocean);
    border: none;
    border-radius: 4px;
    color: var(--white);
}

.hero-button:hover {
    cursor: pointer;
    background: var(--ocean);
}

.h-button {
    background: var(--cloud);
    border: none;
    border-radius: 4px;
    color: var(--iris);
}
/*End of Hero Styling*/

/*Main Styling*/
.section-title {
    color: var(--navy);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 2.5; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

/*Team Section Styling*/
.team-name {
    color:var(--navy);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;/* 120% */
    letter-spacing: 0.4px;
}

.p-text {
    color: var(--navy);
    font-size: 16px;
    line-height: 24px;/* 150% */
    letter-spacing: 0.32px;
}

.h-title {
    color: var(--navy);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;/* 120% */
    letter-spacing: 0.4px;
}
/*End of Team Section Styling*/
/*End of Main Styling*/

/*Footer Styling*/
.logo-studio-footer {
    color: var(--cloud);
}

.footer-text {
    color: var(--cloud);
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.background {
    background: var(--navy);
}
/*End of Footer Styling*/